In [79]:
import pandas as pd
import plotly.express as px
from sklearn.preprocessing import *
import numpy as np
import os
from functools import reduce
import datetime

In [91]:
df = pd.read_csv("merged_datas.csv")

In [92]:
df

,Data,Day_of_Week,Location,Month_Name,O3,Pr,RH,T,VOC
0,2022-05-31 22:00:00,Tuesday,ARGINONE,May,26.1,1013.9,75.0,22.5,82.4213
1,2022-05-31 23:00:00,Tuesday,ARGINONE,May,21.9,1013.8,78.0,21.6,82.6649
2,2022-06-01 00:00:00,Wednesday,ARGINONE,June,22.1,1013.7,80.6,21.2,83.0016
3,2022-06-01 01:00:00,Wednesday,ARGINONE,June,20.7,1013.9,82.0,21.2,82.7855
4,2022-06-01 02:00:00,Wednesday,ARGINONE,June,20.1,1014.1,82.9,21.2,82.8018
...,...,...,...,...,...,...,...,...,...
33057,2022-09-23 17:00:00,Friday,VILLAFULVIA,September,98.3,1017.5,44.4,20.4,201.0107
33058,2022-09-23 18:00:00,Friday,VILLAFULVIA,September,80.2,1017.7,49.9,18.6,203.2332
33059,2022-09-23 19:00:00,Friday,VILLAFULVIA,September,68.9,1017.9,53.3,17.7,204.8476
33060,2022-09-23 20:00:00,Friday,VILLAFULVIA,September,56.1,1017.7,56.3,17.1,206.6512
33061,2022-09-23 21:00:00,Friday,VILLAFULVIA,September,50.7,1017.7,57.7,16.7,207.4106